node_modules
dist
build
coverage
.turbo
.cache
*.tsbuildinfo

.env
.env.local
.env.*.local
scripts/render-env-ready.txt

logs
*.log
npm-debug.log*

.DS_Store
Thumbs.db

apps/web/dist
apps/web/.vite

.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
